
<a href="/dreamers/{{dreamer._id}}/edit"><img src='{{dreamer.img}}' class='menu'></a>

<form id="dreams-form" class="form" onsubmit="dreamCatcher.createDream(event)">
  <input type="text" name="tags[name]" placeholder="#tag">
  <input type="text" name="description" placeholder="description"></input>
  <input type="hidden" name="dreamerId" value={{dreamer.id}}>
  <input type="submit"></input>
</form>

<div class="container" id="dreams">
  {{#each dreams}}
  <div class="row-dream" data-dream-id={{_id}} id="{{_id}}">
    {{description}}
    {{tags.name}}
    <button class='btn btn-danger delete-dream'>Delete Dream</button>
  </div>
  {{/each}}
</div>

<div id="dream-list"></div>

<!-- client-side food template -->
<script id="dream-template" type="text/x-handlebars-template">
  \{{#each dreams}}
  <div id="\{{_id}}" class="dreams">
    <p class="dream-attribute">Tag: \{{tags.name}}</p>
    <p class="food-attribute">Description: \{{description}}</p>
    <button class="btn delete-btn" onclick="dreamCatcher.deleteDream(event)">Delete</button>
  </div>
  \{{/each}}
  \{{#each tags}}
  <p class='dream-attribute'>Tag: \{{name}}</p>
  \{{/each}}
</script>
