
<a href="/dreamers/{{dreamer._id}}/edit"><img src='{{dreamer.img}}' class='menu'></a>

<button type="button" id="addDream" class="btn btn-primary" data-toggle="modal" data-target="#createDreamModal">Add Dream</button>

<!-- CREATE DREAMS MODAL -->
<div id="createDreamModal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" data-dream-id="{{_id}}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Dream</h4>
      </div>
      <div class="modal-body">
        <form id="dreams-form" class="form" onsubmit="dreamCatcher.createDream(event)">
          <input id="dreams-form-tag" type="text" name="newtags[name]" placeholder="#tag">
          <input id="dreams-form-description" type="text" name="newdescription" placeholder="description"></input>
          <input type="hidden" name="dreamerId" value={{dreamer.id}}>
{{!--           <input type="submit"></input> --}}
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="addDream" data-dream-id="{{_id}}" >Add Dream</button>
      </div>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="container" id="dreams">
  {{#each dreams}}
  <div class="row-dream" data-dreams-id={{_id}} id="{{_id}}">
    {{description}}
    {{tags.name}}
    <button class='btn btn-danger delete-dream'>Delete Dream</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dreamModal" id="{{_id}}">Edit Dream</button>
  </div>

  <!-- Edit Dreams Modal -->
<div id="dreamModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" data-dream-id="{{_id}}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Dream</h4>
      </div>
      <div class="modal-body">
        <form id="edit-dreams-form" class="form" onsubmit="dreamCatcher.editDream(event)">
          {{!-- <input type="text" name="tags[name]" placeholder=""> --}}
          <input type="text" name="description" placeholder="description"></input>
          <input type="hidden" name="dreamerId" value={{dreamer.id}}>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveDream" data-dream-id="{{_id}}" onclick="dreamCatcher.editDream(event)">Save changes</button>
      </div>
    </div>

  </div>
</div>
  {{/each}}
</div>

<div id="dream-list"></div>


<!-- client-side food template -->
<script id="dream-template" type="text/x-handlebars-template">
  \{{#each dreams}}
  <div id="\{{_id}}" class="dreams">
    <!-- <p>Dream Tag: \{{tags}}</p> -->
    <!-- <p class="dream-attribute">Tag: \{{dreamtag.tagId}}</p> -->
    <p class="food-attribute">Description: \{{description}}</p>
    <button class="btn delete-btn" onclick="dreamCatcher.deleteDream(event)">Delete</button>
  </div>
  \{{/each}}
  \{{#each tags}}
  <p class='dream-attribute'>Tag: \{{name}}</p>
  \{{/each}}
</script>


