
{{#each dreams}}
{{description}}
{{/each}}


<form id="dreams-form" class="form" onsubmit="dreamCatcher.createDream(event)">
  <input type="text" name="tag" placeholder="Tag" require>
  <input type="text" name="description" placeholder="description"></input>
  <input type="hidden" name="dreamerId" value={{dreamer.id}}>
  <input type="submit"></input>
</form>

<div class="flip-container" action="/dreamers/dreamers/'+id+'/dreams" method="put" style="background: red" onclick="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <!-- front content -->
<a href="/dreamers/{{dreamer._id}}/dreams"><img src='{{dreamer.img}}' class='menu'></a>

    
    </div>
    <div class="back">
      <!-- back content -->
<form>
<br>
<br>
  Edit Profile:<br>
  <input type="text" name="Username" placeholder="Username"><br>
  <input type="text" name="Password" placeholder="Password">
  <br>
  <input type="text" name="Confirm Password" placeholder="Confirm Password">
  <br>
  <br>
  <button class="create_btn btn btn-success">Save</button>
  <button class="create_btn btn btn-success">Cancel</button>
  <div class="form-group">
  <input type="hidden" role="uploadcare-uploader" name="dreamer[img]"/>
</div>
    </div>
</form>
    </div>

  </div>
</div>

<div id="dream-list"></div>

<!-- client-side dream template -->
<script id="dream-template" type="text/x-handlebars-template">
  \{{#each dreams}}
  <div id="\{{_id}}" class="dreams">
    <!-- <p class="dream-attribute">Tag: \{{tag}}</p> -->
    <p class="dream-attribute">Description: \{{description}}</p>
    <button class="btn delete-btn" onclick="dreamCatcher.deleteDream(event)">Delete</button>
  </div>
  \{{/each}}
  \{{#each tags}}
  <p class='dream-attribute'>Tag: \{{name}}</p>
  \{{/each}}
</script>
